body {
    padding: 0px;
    margin: 0px;
}


/* Poster Section Starts Here */
.Poster_div {
    position: relative;
}

.poster_img {
    position: relative;
}

.poster_img img {
    width: 100%;
    height: 650px;
}

.poster_img:before {
    width: fit-content;
    background: blanchedalmond;
}

.Poster_div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, black);
    z-index: 999;
}

@media only screen and (min-width:566) and (max-width:1500px) {
    .Poster_div {
        width: 100%;
    }
}

@media (max-width:575px) {
    .Poster_div img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

@media (max-width:999px) {
    .Poster_div img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
}

.Nav_container {
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 100%;
}

.Nav_Child img {
    padding-left: 30px;
    width: 10em;
    padding-top: 15px;
    height: 45px;
}

@media (max-width:575px) {
    .Nav_Child img {
        padding-left: 30px;
        padding-top: 15px;
        width: 100px;
        height: 32px;
    }
}

@media (min-width:575px) and (max-width:800px) {
    .Nav_Child img {
        padding-left: 30px;
        padding-top: 15px;
        width: 100px;
        height: 32px;
    }
}

.signIn {
    position: absolute;
    right: 30px;
    color: white;
    text-decoration: none;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.banner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;
    text-align: center;
}

@media (max-width: 998px) {
    .banner_container {
        margin-top: 98px;
    }
}

@media (max-width: 740px) {
    .banner_container {
        margin-top: 52px;
    }
}

.text_1 {
    font-size: 3rem;
    font-weight: 1000;
    font-family: 'Archivo Black', sans-serif;
    margin: 0px;
}

@media (max-width:1200px) {
    .text_1 {
        font-size: 2.5rem;
    }
}

@media (max-width:998px) {
    .text_1 {
        font-size: 2rem;
    }
}

@media (max-width: 750px) {
    .text_1 {
        font-size: 1.6rem;
    }
}

.watch_text {
    font-size: 1.5rem;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 998px) {
    .watch_text {
        font-size: 1rem;
    }
}

.form_text1 {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

@media (max-width:998px) {
    .form_text1 {
        margin-top: 14px;
    }
}

@media (max-width:740px) {
    .form_text1 {
        font-size: 1rem;
    }
}

.child_div {
    display: flex;
    justify-content: center;
}

@media (max-width: 740px) {
    .child_div {
        flex-wrap: wrap;
    }
}

.input_div input {
    width: 333px;
    height: 50px;
    font-size: 21px;
    border: 1px solid rgb(146, 143, 143);
    border-radius: 8px;
    background-color: transparent;
    margin: 5px;
}

@media (max-width: 998px) {
    .input_div input {
        width: 242px;
        font-size: 17px;
    }
}

input::placeholder {
    color: white;
}

.submition_div button {
    width: 206px;
    height: 53px;
    background-color: red;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    margin: 5px;
}

@media (max-width: 998px) {
    .submition_div button {
        width: 146px;
        font-size: 1rem;
    }
}

/* Poster Section End Here */


.Underline {
    width: 100%;
    height: 4px;
    background-color: rgb(83, 81, 81);
}


/* TV Section Starts Here */

.TV_div {
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

@media (min-width: 1440px) {
    .TV_div {
        height: 600px;
    }
}

@media (min-width: 1786px) {
    .TV_div {
        height: 632px;
    }
}

@media (max-width: 998px) {
    .TV_div {
        height: 649px;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .TV_div {
        height: 511px;
    }
}

.left_container {
    margin-left: auto;
    width: 100%;
}

.Enjoy_heading {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 1000;
}

@media (max-width: 998px) {
    .Enjoy_heading {
        font-size: 2.5rem;
    }
}

.TV_img {
    width: 89%;
    position: relative;
    z-index: 999;
}

@media (max-width: 998px) {
    .TV_img {
        width: 63%;
        margin: 0px;
    }
}

@media (max-width: 555px) {
    .TV_img {
        width: 83%;
    }
}

.games_p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.right_container {
    width: 100%;
    position: relative;
}

.Video_container {
    position: absolute;
    right: 17.5%;
    top: 21%;
    width: 65.4%;
}

@media (max-width: 998px) {
    .Video_container {
        right: 26.5%;
        top: 20%;
        width: 47.4%;
    }
}

@media (max-width: 555px) {
    .Video_container {
        right: 19.5%;
        top: 20%;
        width: 61.4%;
    }
}

/* TV Section Ends Here */


/* Mobile Section Starts Here */

.Mobile_container {
    width: 100%;
    /* height: 600px; */
    padding: 3rem 0;
    background-color: black;
}

@media (max-width: 998px) {
    .Mobile_container {
        height: auto;
    }
}

.Mobile_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 998px) {
    .Mobile_row {
        flex-direction: column-reverse;
    }
}

.left_container2 {
    position: relative;
    text-align: center;
    flex: 0 0 50%;
}

@media (max-width: 998px) {
    .left_container2 {
        width: 70%;
    }
}

.Mobile_img {
    width: fit-content;
    left: 209px;
    bottom: 50px;
}

@media (max-width: 1200px) {
    .Mobile_img {
        width: 100%;
    }
}

.right_container2 {
    color: white;
    /* width: 40%; */
    flex: 0 0 50%;
}

@media (max-width: 998px) {
    .right_container2 {
        width: 70%;
        text-align: center;
    }
}

.Mobile_heading {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
}

@media (max-width: 998px) {
    .Mobile_heading {
        font-size: 2rem;
    }
}

.Mobile_p {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 998px) {
    .Mobile_p {
        font-size: 1rem;
        margin: 1px;
    }
}

.inner_div {
    width: 346px;
    height: 100px;
    border-radius: 14px;
    border: 2px solid white;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .inner_div {
        max-width: 304px;
        width: 100%;
    }
}

.inner_img {
    margin-left: 10px;
    margin-top: 4px;
    width: 67px;
}

.inner_Textdivs {
    margin-left: 3px;
}

.inner_textDiv1 {
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
}

.inner_textDiv2 {
    color: rgb(47, 74, 249);
    font-family: 'Poppins', sans-serif;
}

.inner_loaderImg {
    width: 68%;
}

/* Mobile Section Ends Here */


/* Text Section Starts Here */

.text_container {
    height: 320px;
    background-color: black;
}

.text_innerContainer {
    text-align: center;
}

.container_text1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    padding: 40px;
    margin: 0px;
}

@media (max-width: 998px) {
    .container_text1 {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .container_text1 {
        font-size: 2rem;
    }
}

.container_text2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin: 0px;
}

@media (max-width: 998px) {
    .container_text2 {
        font-size: 1.2rem;
    }
}

/* Text Section Ends Here */




/* Kid section starts Here */

.kid-row {
    max-width: 100vw;
    padding: 0px;
    align-items: center;
    background-color: black;
}

.kid-container {
    max-width: 100vw !important;
    padding: 0px !important;
}

.kid-child1 {
    text-align: center;
}

.kid-child1 img {
    width: 100%;
}

.kid-child2 h1 {
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    color: white;
}

.kid-child2 p {
    font-size: 1.5rem;
    margin: 5px;
    color: white;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    .kid-child2 h1 {
        font-size: 2rem;
        margin: 5px;
    }
}

/* Kid section Ends Here */



/* accordian-section Starts Here */

.accordian-container {
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
}

.accordian-heading h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 1000;
    padding-top: 15px;
}

.accordian-list {
    text-align: center;
    max-width: 90%;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.accordian-item {
    text-align: center;
    background-color: rgb(73, 72, 72);
    margin-top: 10px;
}

.accordian-item:hover {
    background-color: rgb(128, 126, 126);
    cursor: pointer;
}

.accordian-title {
    padding: 19px;
    font-size: 30px;
    border: 1px solid black;
}

.accordian-contant {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.accordian-contant p {
    margin: 15px;
}

.accordian-item.active .accordian-contant {
    height: 180px;
}

.accordian-form-container {
    padding: 37px 15px 15px 15px;
    font-size: 28px;
    margin-bottom: 50px;
}

.inner-form input {
    background-color: transparent;
    border: 1px gray solid;
    border-radius: 8px;
    padding: 0px 5px 9px 5px;
    max-width: 90vw;
    color: white;
}

.inner-form button {
    background-color: red;
    padding: 6px;
    font-weight: bold;
    margin: 7px;
    font-size: 26px; 
}


/* accordian-section Ends Here */




/* Footer-section Starts Here */

.footer-container {
    background-color: black;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.question-container a {
    color: rgb(153, 149, 149);
}

.footer-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.footer-list ul li {
    width: 25%;
    margin: 10px 0px;

}

.footer-list ul li a {
    color: rgb(153, 149, 149);
}

.language-container select {
    width: 8vw;
    border: 1px solid rgb(153, 149, 149);
    background-color: black;
    border-radius: 4px;
    color: rgb(153, 149, 149);
    padding: 0 5px;
} 

/* Footer-section Ends Here */

